/**************************************/
/* author: Kenth Remon Crisolo */
/* email: kenth.crisolo@gmail.com */
/**************************************/

body {
  padding-top: 20px;
  background-color: #202020;
}

h1 {
  color: #E5E5E5;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 
  font-weight: 700;
}

.converter-wrapper {
  margin: 0 auto;
  width: 100%;
  /* max-width: 600px; */
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.converter-wrapper input {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  height: 40px;
  box-sizing: border-box;
 
}

.converter-wrapper span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  background-color: #263648;
  color: #fff;
  font-size: inherit;
  padding: 10px;
  width: 100%;
  border: 0;
  /* margin: 0; */
  border-radius: 0px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: none; /* hide default arrow in chrome OSX */
}

.converter-wrapper span::before,
.converter-wrapper span::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.converter-side-a,
.converter-side-b {
  /* float: left; */
  margin: auto;
  margin-top: 20px;
  box-sizing: border-box;
  width: 45%;
}

.center-separator {
  float: left;
  box-sizing: border-box;
  width: 10%;
  color: #FFF;
  font-size: 2.4em;
  line-height: 0;
  text-align: center;
}

.converter-side-a {
  padding-right: 10px;
}

.converter-side-b {
  padding-left: 10px;
}

